<span>{{titulo}}</span>
<br> 
<br> 
<div class="card">
<div class="card-body">
      
      <br> 
      <form formGroup="formularioInicio" >
        <div class="mb-2">
          <label class="form-label">Tipo Solicitud</label>

          <select formControlName="tipo_solicitud" class="form-control">  
            <option>Requerimiento</option>
            <option>Cumplimiento</option>
         </select> 
         
        <br>
         <label class="form-label">Tipo Motivo</label>

          <select formControlName="tipo_motivo" class="form-control">  
            <option>Nuevo</option>
            <option>Reemplazo</option>
        </select>
        <br> 
        <label class="form-label">Tipo Cumplimiento</label>  
        <select formControlName="tipo_cumplimiento" class="form-control">  
          <option>Nuevo Puesto</option>
          <option>Reasignacion de puesto</option>
       </select> 

       <br> 
       <button class="btn btn-primary">Crear</button>

  

       </div>
      
       
     </form>       
     
     <br> 
     