<div class="card">
    <div class="card-body">
          <h1>{{this.titulo}}</h1>
          <br/>
          <label class="form-label">
            <b>Tipo Solicitud:</b>&nbsp;{{this.modelBase.tipo_solicitud}}
          </label>
          &nbsp;&nbsp;
          <label class="form-label">
            <b>Tipo Motivo:</b>&nbsp;{{this.modelBase.tipo_motivo}}
          </label>
          &nbsp;&nbsp;
          <label class="form-label">
            <b>Date:</b>&nbsp;{{this.date}}
          </label>      
    </div>
</div>

<div [hidden]="submitted">
  <div class="card">
      <div class="card-body">
        
        <div class="mb-2">
              <h3>Informacion Solicitud</h3>
              <div class="field">
                <label class="form-label" for="codigo">Codigo</label>
                <br/>
                <input  type="text"  class="form-control" 
                        id="codigo"  name="codigo"  
                        readonly
                        [(ngModel)]="modelRegistrarData.codigo" />
            </div>
            <br/>   

            <div class="field">
                <label class="form-label" for="description">Description</label>
                <br/>
                <input  type="text" class="form-control" 
                        id="description"  name="description" 
                        readonly
                        [(ngModel)]="modelRegistrarData.description" />  
            </div>
              <br/> 
              
            <div class="field">
                <label class="form-label" for="importe">Importe</label>
                <br/>
                <input  type="text" class="form-control" 
                        id="importe"  name="importe" 
                        readonly
                        [(ngModel)]="modelRegistrarData.importe" />  
            </div>
              <br/>                     

            <div class="field">
                <label class="form-label" for="observations">Observations</label>  
                <br/>
                <textarea data-limit-rows="true" cols="60" rows="4" class="form-control" 
                        id="observations" name="observations" readonly
                        [(ngModel)]="modelRegistrarData.observations" >
                      </textarea>
            </div>            
        </div>
    </div>
  </div>
</div>

<div [hidden]="submitted">
  <div class="card">
      <div class="card-body">
        <form  (submit)="onSubmit()"
                #revisarDataTask="ngForm"
                class="ui form">
          <h3>Revision Solicitud</h3>
          <div  class="mb-2">
          
                  <div class="field">
                      <label class="form-label" for="reviewAction">Approve?</label>
                      <br/>
                      <input  type="radio"  name="reviewAction"  
                              id="reviewAction"  value="approve" 
                              [required]="true" (checked)="false"
                              [(ngModel)]="model.reviewAction" />
                      <label for="approve">&nbsp;Yes</label>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <input  type="radio"  name="reviewAction"  
                              id="reviewAction"  value="reject" 
                              [required]="true" (checked)="true"
                              [(ngModel)]="model.reviewAction" />
                      <label for="reject">&nbsp;No</label>
                  </div>
                  <br/>                  

                  <div class="field">
                      <label class="form-label" for="reviewObservations">Observations</label>  
                      <br/>
                      <textarea data-limit-rows="true" cols="60" rows="4"
                              id="reviewObservations" name="reviewObservations" 
                              placeholder="optional text"
                              class="form-control"
                              [required]="false"
                              [(ngModel)]="model.reviewObservations" >
                      </textarea>
                  </div>   
                  <br/>

                  <div class="field">
                    <button type="submit" class="btn btn-primary"  aria-describedby="Mark as complete" [disabled]="(status === 'running') || (!revisarDataTask.form.valid)">Grabar</button>
                    &nbsp;&nbsp;
                    <button type="button" (click)="onCancel()" class="btn btn-secondary" aria-describedby="Task cancelled in the system" >Cancelar</button>
                  </div>
        </div>
      </form>
  </div>
  </div>
</div>

    <div [hidden]="!submitted">
        <div *ngIf="!this.errorMessage">
            <p>Request revision data saved. [<code>{{this.model.reviewAction}}</code>]
              <br/>
              <code>{{this.taskId}}</code>
            </p>
          </div>
          <div *ngIf="this.errorMessage">
            <p>Task failed. Check error message below.
              <br/>
              <code>{{this.errorMessage}}</code>
            </p>            
          </div>
      </div>
    <br/>
    Return to <a href="/tasklist/Revisar">Revisar tasklist</a> or <a href="/">home page</a>.
  

